*
{
    padding : 0 ; 
    margin : 0 ; 
}

.heading
{
    font-size : 17px;
    color : burlywood;
    font-style: normal;
    
    
        
}
.list
{
    list-style: none;
    color : rgb(238, 207, 121);
    display : flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    
    
}
.button
{
    background-color: rgb(241, 151, 91);
    color : beige;
    width : 150px;
    height : 50px;
    border-radius: 20px;
    align-items: center;

}
.nav
{
    display : flex;
    justify-content: space-between;
    width : 15%;
    align-items: center;

    
     
}
.line
{
    width: 2px;
    height :50px ;
    background-color: grey;

}
.parentdiv
{
    display : flex;
    justify-content: space-around;
    background-color: brown;

}
.nav1
{
    display : flex;
    width : 50%;
    justify-content: space-between;
    
     
}

.aboutMe
{
    color : darkcyan;
    padding-left : 5%;

}
.para
{
    font-size : 25px; 
    justify-content: center;
}
.text
{
    display : flex;
}
.image
{
    padding-left : 90px; 
}

